extends ../aalayout/layout

block content
	.container.mt-3
		.row.text-center
			.col-6.col-lg-3.mt-3
				a(href="/adHomeSet")
					img(src="/imgs/indicate/comment.png", width="50px", height="50px")
				a.btn.btn-default.btn-lg.btn-block.text-dark(href="/adHomeSet") 主页设置
			.col-6.col-lg-3.mt-3
				a(href="/adNavdbs")
					img(src="/imgs/indicate/comment.png", width="50px", height="50px")
				a.btn.btn-default.btn-lg.btn-block.text-dark(href="/adNavdbs") 导航列表