extends ../aalayout/layout

block content
	.js-browserWidth-pc
		.container.bg-secondary
			.row
				.col-1.border 1
				.col-1.border 2
				.col-1.border 3
				.col-1.border 4
				.col-1.border 5
				.col-1.border 6
				.col-1.border 7
				.col-1.border 8
				.col-1.border 9
				.col-1.border 10
				.col-1.border 11
				.col-1.border 12
				.col-1.border 13
			.row
				.col-7.border
					img(src="/media/img/internet1.jpg" width="100%")
				.col-5.border
					.row
						.col-1.border 1
						.col-1.border 2
						.col-1.border 3
						.col-1.border 4
						.col-1.border 5
						.col-1.border 6
						.col-1.border 7
						.col-1.border 8
						.col-1.border 9
						.col-1.border 10
						.col-1.border 11
						.col-1.border 12
					h2 test
					p description
					<button type="button" class="btn btn-success">Success</button>
					.alert.alert-primary(role="alert") This is a primary alert—check it out!
