//- .bg-dark.text-center.text-dark
	.container-fluid
		.row.js-browserWidth-pc.pt-5.pb-3
			.col-lg-3
				h4.mb-4 购物指南
				p: a.text-dark(href="/shopping#purch") 购买流程
				p: a.text-dark(href="/shopping#period") 订货周期
				p: a.text-dark(href="/shopping#privacy") 隐私保护
			.col-lg-3
				h4.mb-4 服务保障
				p: a.text-dark(href="/guarantee#authentic") 正品保证
				p: a.text-dark(href="/guarantee#advantage") 价格优势
				p: a.text-dark(href="/guarantee#discrimination") 真假鉴别
			.col-lg-3
				h4.mb-4 配送方式
				p: a.text-dark(href="/logistics#delivery") 配送说明
				p: a.text-dark(href="/logistics#shipping") 运费说明
				p: a.text-dark(href="/logistics#inspection") 验货签收
			.col-lg-3
				h4.mb-4 售后服务
				p: a.text-dark(href="/aftersale#advisory") 售后咨询
				p: a.text-dark(href="/aftersale#invoice") 发票保障
				p: a.text-dark(href="/aftersale#acq") 常见问题
		.row.js-browserWidth-mb.pt-5.pb-3
			.col-6
				h5.mb-4
					a.text-dark(href="/shopping") 购物指南
			.col-6
				h5.mb-4
					a.text-dark(href="/guarantee") 服务保障
			.col-6
				h5.mb-4
					a.text-dark(href="/logistics") 配送方式
			.col-6
				h5.mb-4
					a.text-dark(href="/aftersale") 售后服务