.js-browserWidth-pc
	.js-browserHeight-autoFooter
	.container-fluid.bg-dark.text-center.text-white
		.row.pt-5.pb-3
			.col-lg-3
				h4.mb-4 footer
			.col-lg-3
				h4.mb-4 footer
			.col-lg-3
				h4.mb-4 footer
			.col-lg-3
				h4.mb-4 footer