.js-browserWidth-pc
	.css-fixed-t0h80Fir.js-scroll-DwHideUpShow.border-bottom.border-secondary.navFirBox
		.row.mt-3(style="line-height: 60px;text-align: center;")
			.col-md-5
				.row.mx-5.firsElem
					//- .col-3.firElem
			.col-md-2.jsPageFiexd-navFirm
				a.text-white(href="/", data-nav="Home" style="font-size: 45px;") Holartec
			.col-md-5
				.row.mx-5
					.col-3.navRight.rounded(data-nav="Company")
						a.navFir.text-white(href="/firm") 关于公司
						.subsNav.subs-Company.mt-1(style="line-height: 40px; font-size: 14px; display:none")
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 我们的价值
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 可持续发展
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 社区影响
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 团队
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 其他业务
					.col-3.navRight.rounded(data-nav="Internet")
						a.navFir.text-white(href="#") 互联网基础
					.col-3.navRight.rounded(data-nav="Investor")
						a.navFir.text-white(href="#") 投资人
						.subsNav.subs-Investor.mt-1(style="line-height: 40px; font-size: 14px; display:none")
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 公司治理
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 股东服务
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 金融
							.rounded.navRsec
								a.text-white.border-bottom(href="#") 活动与演讲
					.col-3.navRight.rounded(data-nav="Recruitment")
						a.navFir.text-white(href="#") 招贤纳士
	.css-fixed-t80h600Sec.js-scroll-DwHide.jsBox-navSec(style="display: none;")