extends ../aalayout/layout

block content
	.js-browserWidth-pc
		img(src="/media/img/internet3.jpg", width="100%")
		div(style="height: 100px")
		.container
			h1.my-5.text-center 第二届中国互联网基础资源大会在北京举办
			.row
				.col-7
					img.js-click-imgEnlarge.css-img-neat(src="/media/img/internet1.jpg", width="100%", height="350px")
				.col-5(style="height: 350px")
					.css-text-sm.mt-5: strong 伴随着5G、下一代互联网、物联网、云计算等新兴技术的快速发展，以域名、IP地址、自治系统号码等为主的互联网基础资源日趋重要，为我国信息技术创新带来了新的机遇。中国互联网络信息中心（CNNIC）围绕互联网基础资源创新技术研究，重点在大数据、区块链等方面开展了新型域名解析系统、数据基础平台及相关DNS软硬件产品等研发工作，并在第二届中国互联网基础资源大会（CNIRC 2020）发布最新成果。
			.css-text-sm.mt-5: strong 由国家互联网信息办公室指导，中国互联网络信息中心（CNNIC）、中国科学院计算机网络信息中心（CNIC）主办的“第二届中国互联网基础资源大会（China Internet Infrastructure Resources Conference，CNIRC 2020）”11月15日在京落下帷幕。胡启恒、周宏仁、邬贺铨、何德全、沈昌祥、吴建平等多位院士和业界知名专家，国家网信办、工信部、中科院等单位有关负责人，国内相关智库、大学、科研院所学者，企业家代表，国内域名注册管理机构、注册服务机构，IP地址分配联盟会员代表等参加了大会。 
			div(style="height: 50px")
			hr
			h2.my-5.text-center 一、互联网基础资源大数据技术与应用
			.css-text-sm.mb-3 互联网基础资源大数据是指互联网基础资源在注册、解析和应用支撑等环节中所产生的各类数据资源。互联网基础资源大数据技术指有效收集、清洗、转换、处理和分析这些数据资源的关键技术。互联网基础资源大数据分析的应用场景比较广泛，具体可以体现在自动化模式挖掘、智能化域名分析及大规模网络拓扑和时序数据分析等方面。
			.css-text-sm.mb-3 2018年9月20日，“国家互联网基础资源大数据（服务）平台一期”正式上线。近年来，经过一期和二期工程的持续研发与建设，国家互联网基础资源大数据（服务）平台已形成涵盖数据采集、清洗、汇聚、管理、分析、挖掘及安全保障等环节在内的互联网基础资源领域全链条大数据技术能力，数据采集指标包括38个大类74个小类，先后支撑了中国互联网发展研究统计报告、域名安全态势分析、域名信用度分析等系列应用。
			h2.my-5.text-center 二、区块链技术在互联网基础资源领域的创新应用
			.css-text-sm.mb-3 区块链作为一种分布式数据库技术，具有去中心化、不可篡改、全程留痕、可以追溯、集体维护、公开透明等特点，这些特点保证了区块链的“诚实”与“透明”，为区块链可持续发展奠定了基础。在区块链体系中，联盟链是针对特定群体和有限第三方服务的分布式数据库技术，联盟链通常对共识或验证节点的配置有特定要求，可使得其交易性能有所提高并保证系统的客观可控。例如在互联网域名管理中，联盟链作为数据出入口，通过对域名滥用进行统一审核处置，能够有效实现互联网域名滥用治理数据的共治和共享。
			.css-text-sm.mb-3 基于区块链的互联网基础资源管理服务（实验）平台，基于语义智能合约描述、跨链交互、身份认证、自适应共识等底层技术，以域名滥用治理共治共享为出发点，旨在构建能支撑互联网基础资源领域多方共治应用的区块链基础设施，满足基于区块链的互联网基础资源管理服务及其应用生态需求。
			h2.my-5.text-center 三、RPKI路由数据验证系统
			.css-text-sm.mb-3 由于网间互联协议BGP的设计缺陷，AS域间路由交换缺乏路由条目准确性和有效性验证机制。路由误配置或恶意配置易造成路由劫持与路由泄露，错误路由更新信息将可能造成流量劫持，甚至影响一定范围的互联互通。
			.css-text-sm.mb-3 近年来业界努力探索通过域间路由实时监测应急处置和路由信息身份验证提升BGP路由安全性。作为国家重要的骨干互联单位，中国科技网启动了基于RPKI的互联网域间路由验证机制部署测试。中国科技网在与国际国内网络运营商进行路由交换时可通过RPKI技术提供路由交换决策辅助。此次RPKI路由验证启动将为RPKI实网部署运行积累宝贵的实践经验。

			div(style="height: 50px")
			img.js-click-imgEnlarge.css-img-neat(src="/media/img/internet4.jpg", width="100%", height="350px")
			//- img(src="/media/img/internet4.jpg", width="100%")

			h2.my-5.text-center 四、全联网标识与解析技术框架研究
			.css-text-sm.mb-3 如果说物联网只是互联网应用向“物”的延伸，那么全联网则不只是一个“物-物”互联的网络或宽带生态系统，而会成为一个全球经济社会活动日常运行的基础设施和系统。全联网是构造一个人工智能驱动的世界的切入点，是大数据、云计算、人工智能赖以持续发展的基础，对数字经济转型带来显著效益，产生深远影响。
			.css-text-sm.mb-3 5G网络建设和商用布局，人工智能、大数据等信息技术的快速发展，催生了众多新的全联网应用场景，加速了“5G+全联网”的融合发展，为全联网发展提供了坚实的技术支撑与广阔的应用领域，对全联网标识体系提出了新的要求。面对全联网标识体系发展的新需求，CNNIC研究和提出了全联网标识解析服务的总体架构设计，并进行了系统关键技术的可行性验证，大会将发布《全联网标识服务》。
			h2.my-5.text-center 五、“网域”DNS系列产品研究
			.css-text-sm.mb-3 随着互联网经济的蓬勃发展，DNS安全一直是业内关注的重点。在“新基建”背景下，域名标识服务面临性能、安全等方面新的挑战。2018年9月，CNNIC基于多年的DNS开发与国家顶级域名(.CN/.中国)系统运维经验，首次在国内建立全方位、多层次的域名服务与安全防护产品体系，即“网域”DNS系列。2020年，CNNIC完成“网域”DNS系列产品3.0研发，产品在DNS解析服务高性能、低时延、内生安全等方面形成了专有自主技术体系，在多标识解析、监测防护、流量精准调度等方面实现技术突破。“网域”DNS系列产品3.0涵盖了解析、监控防护自主研发多款软硬件产品，面向“新基建”构建了多标识解析与安全防护产品体系，支撑5G、工业互联网、全球物联网的快速稳定发展。
			h2.my-5.text-center 六、网络系统科研数据共享平台
			.css-text-sm.mb-3 网络是人类活动的第五空间，网络系统科研数据是网络体系结构研究、网络算法和协议机制研究、网络系统研发以及网络设备研制的重要依据。该平台秉承开放、共享、服务、创新的理念，不断收集网络系统相关数据，整理汇交，长期保存，服务于全球科研人员，建立全球开放共享与协作的网络系统科研数据共享平台，推动网络系统研究创新。
