extends ../aalayout/layout

block content
	.js-browserWidth-pc
		.container-fluid
			.text-center
				h1 标题
			.row
				.col-7
					img(src="/media/img/internet1.jpg", width="100%")
				.col-5
					p 互联网把数字经济推动到前所未有的高度，创造了巨大的人类财富。更让人振奋的是，人类还没有看见它的极限。互联网基础设施包括了宽带、云存储、内容分发网络等等。它们为数字经济的发展提供了坚实的基础。这些基础设施所搭建的互联网，一方面为企业创造价值提供了机遇，另一方面为居民生活也提供了便利。

	.js-browserWidth-mb