extends ../aalayout/layout

block content
	.js-browserWidth-pc
		div(style="height: 600px; background-image: url('/media/img/firmImg1.jpg'); background-repeat: no-repeat;background-size: cover;")
			div(style="height: 450px")
			h1.p-5.text-white 我们的价值
		div(style="height: 50px")
		.container-fluid
			.row
				.col-3
				.col-6
					.mb-4 我们公司的文化建立在诚信和尊重的基础上，其目标是共同努力，以使自己和我们的业务始终保持创新，创新和竞争力。
					strong 我们遵循以下原则： 
					.mt-2.mb-3 具有企业家精神。 我们拥护好点子，并迅速将它们付诸实践。我们在寻找为客户创新的新方法方面具有前瞻性和不懈努力。
					strong 做正确的事并诚信行事
					.mt-2.mb-3 这就像做正确的事和以正确的方式对待人一样简单。
					strong 互相尊重
					.mt-2.mb-3 我们致力于建立一种公平，尊重和包容的文化：在我们的领导层和员工队伍中，在与客户和供应商之间，在我们的编程中以及在我们服务的社区中。
					strong 回馈
					.mt-2 在我们开展业务的任何地方，我们都有长期的支持本地社区和组织的历史。我们使用自己的声音，资源和影响力来为我们社区的人们的生活带来积极而实质性的变化。
			.row
				.col-3
				.col-6
					.mb-4 我们公司的文化建立在诚信和尊重的基础上，其目标是共同努力，以使自己和我们的业务始终保持创新，创新和竞争力。
					strong 我们遵循以下原则： 
					.mt-2.mb-3 具有企业家精神。 我们拥护好点子，并迅速将它们付诸实践。我们在寻找为客户创新的新方法方面具有前瞻性和不懈努力。
					strong 做正确的事并诚信行事
					.mt-2.mb-3 这就像做正确的事和以正确的方式对待人一样简单。
					strong 互相尊重
					.mt-2.mb-3 我们致力于建立一种公平，尊重和包容的文化：在我们的领导层和员工队伍中，在与客户和供应商之间，在我们的编程中以及在我们服务的社区中。
					strong 回馈
					.mt-2 在我们开展业务的任何地方，我们都有长期的支持本地社区和组织的历史。我们使用自己的声音，资源和影响力来为我们社区的人们的生活带来积极而实质性的变化。
			.row
				.col-3
				.col-6
					.mb-4 我们公司的文化建立在诚信和尊重的基础上，其目标是共同努力，以使自己和我们的业务始终保持创新，创新和竞争力。
					strong 我们遵循以下原则： 
					.mt-2.mb-3 具有企业家精神。 我们拥护好点子，并迅速将它们付诸实践。我们在寻找为客户创新的新方法方面具有前瞻性和不懈努力。
					strong 做正确的事并诚信行事
					.mt-2.mb-3 这就像做正确的事和以正确的方式对待人一样简单。
					strong 互相尊重
					.mt-2.mb-3 我们致力于建立一种公平，尊重和包容的文化：在我们的领导层和员工队伍中，在与客户和供应商之间，在我们的编程中以及在我们服务的社区中。
					strong 回馈
					.mt-2 在我们开展业务的任何地方，我们都有长期的支持本地社区和组织的历史。我们使用自己的声音，资源和影响力来为我们社区的人们的生活带来积极而实质性的变化。

		div(style="height: 100px")
		div(style="height: 500px; background-image: url('/media/img/firmImg2.jpg'); background-repeat: no-repeat;background-size: cover;")
			div(style="height: 350px")
			h1.p-5.text-white 可持续发展
		div(style="height: 50px")
		.container-fluid
			.row
				.col-3
				.col-6
					h2 建立更具资源效率的公司
					.mt-4 在努力为客户提供最佳技术，帮助企业实现业务转型的同时，我们也考虑了对可持续发展的长远影响。在制定业务决策时，无论大小，我们都有责任考虑可持续性。我们致力于创造一种激发环境责任的可持续创新文化。

		div(style="height: 100px")
		div(style="height: 500px; background-image: url('/media/img/firmImg3.jpg'); background-repeat: no-repeat;background-size: cover;")
			div(style="height: 350px")
			h1.p-5.text-white 社区影响
		div(style="height: 50px")
		.container-fluid
			.row
				.col-3
				.col-6
					div.mr-2 作为一家具有独特的教育，商业和科技赋能的公司，我们致力于将多元化的社区聚集在一起，并激发我们的客户，受众和员工的积极影响。我们将精力集中在三个领域：
					ul.mt-5
						li.mt-4 通过志愿服务和领导力发展在我们的社区中有所作为
						li.mt-4 在我们社区内增加技术访问并扩展数字技能
						li.mt-4 利用我们影响深远的讲故事平台来教育我们的受众并引发有关塑造世界的关键问题的对话

		div(style="height: 2000px;")
	.js-browserWidth-mb