a:hover {text-decoration: none}

body {
	font-family:'Times New Roman';
	font-size: 18px;
}

video.css-bg-video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover; 
}
.css-img-neat {
	object-fit: scale-down;
}
.css-bg-bluLight {
	background-color: #96C3FF !important;
}
.css-bg-bluMid {
	background-color: #003366 !important;
}

.css-bg-td {
	background-color: #C0C0C0 !important;
}
.css-border-r {
  border-right: 1px solid #C0C0C0 !important;
}
.css-border-b {
  border-bottom: 1px solid #C0C0C0 !important;
}
.css-border-rb {
  border-right: 1px solid #C0C0C0 !important;
  border-bottom: 1px solid #C0C0C0 !important;
}
.css-text-sm {
	font-size: 16px;
	line-height: 30px;
}
.css-text-md {
	font-size: 20px;
	line-height: 35px;
}

.css-roundedTopLeft-5 {
	border-top-left-radius: 5rem !important;
}

.css-roundedTopRight-5 {
	border-top-right-radius: 5rem !important;
}