div(style="height: 50px")
.container-fluid.px-5
	.row
		.col-3(style="color: #1E90FF;")
			h2 #{navdb.despTitle}
		.col-9
			.css-text-md.mb-3 #{navdb.despFir}
			.css-text-md.mb-3 #{navdb.despSec}
div(style="height: 50px")
hr