div(style="height: 50px")
.container-fluid
	.row.px-5
		.col-3
			h2 工业4.0技术如何改变制造业
		.col-9
			.css-text-sm.mb-3 工业4.0正在彻底改变公司生产，改进和分配产品的方式。制造商正在将包括物联网（IoT），云计算和分析以及AI和机器学习在内的支持技术集成到其生产设施和整个运营过程中。这些智能工厂配备了先进的传感器，嵌入式软件和机器人技术，可以收集和分析数据并做出更好的决策。将生产运营中的数据与ERP，供应链，客户服务和其他企业系统中的运营数据相结合，从而从以前孤立的信息中获得全新的可见性和洞察力，从而创造更高的价值。这项技术可提高自动化程度，预测性维护，流程改进的自我优化，最重要的是，

			.css-text-sm.mb-3 发展智能工厂为制造商进入第四次工业革命提供了难以置信的机会。分析从工厂车间传感器收集到的大量数据，可以确保制造资产的实时可见性，并且可以提供执行预测性维护的工具，以最大程度地减少设备停机时间。 

			.css-text-sm.mb-3 在智能工厂中使用物联网设备可提高生产率和质量。用AI驱动的视觉洞察代替人工检查可以减少制造错误并节省金钱和时间。质量控制人员只需花费很少的投资，就可以设置连接到云的智能手机，以从几乎任何地方监视制造过程。通过应用机器学习算法，制造商可以立即发现错误，而不是在维修费用更高的后期阶段。

			.css-text-sm.mb-3 工业4.0的概念和技术可应用于所有类型的工业公司，包括离散和过程制造以及石油和天然气，采矿及其他工业领域。 
	.row.mt-5.p-5.rounded(style="background-color: #F0F0F0;")
		.col-3
			h2 从蒸汽到传感器：工业4.0的历史背景
		.col-9.css-fontSize-20
			h4 第一次工业革命
			.css-text-sm.mb-3 从18世纪末的英国开始，第一次工业革命通过使用水和蒸汽而不是纯粹的人类和动物力量帮助实现了大规模生产。成品是用机器制造的，而不是手工制造的。
			h4 第二次工业革命
			.css-text-sm.mb-3 一个世纪后，第二次工业革命引入了装配线以及石油，天然气和电力的使用。这些新的电源以及通过电话和电报进行的更高级的通信，为生产过程带来了批量生产和一定程度的自动化。
			h4 第三次工业革命
			.css-text-sm.mb-3 始于20世纪中叶的第三次工业革命在制造过程中增加了计算机，先进的电信和数据分析功能。工厂的数字化始于将可编程逻辑控制器（PLC）嵌入机械中，以帮助实现某些过程的自动化以及数据的收集和共享。
			h4 第四次工业革命
			.css-text-sm.mb-3 现在，我们正处在第四次工业革命中，也被称为工业4.0，其特征是自动化程度提高，并通过数据通知智能工厂的使用，从而更有效地生产产品。灵活性得到了改善，因此制造商可以通过大规模定制更好地满足客户的需求-在许多情况下最终寻求以一个很大的规模来实现效率。通过从工厂车间收集更多数据并将其与其他企业运营数据相结合，智能工厂可以做出更好的决策。
	//- img(src="/media/img/navdbfir-2.jpg")
div(style="height: 50px")