extends ../aalayout/layout

block content
	.js-browserWidth-pc
		//- - let pcVideo = "/media/videos/bg1.mp4";
		//- include ../aaElement/bgvideoBox
		div(style="background-image: url('/media/img/firm.jpg'); background-size: cover; background-position:center; color: #FFFFFF")
			.px-5
				.js-browserHeight-quarter
					div(style="height: 80px")
					h1(style="font-size: 60px;") HLT
				.mx-5
					h1 致力于为企业解决管理+运营问题
					h1.m-5 提供数字化工作流程 提高生产力
		div(style="height: 100px")
		.css-roundedTopRight-5.mr-5(style="background-color: #F0F8FF")
			.container.py-5
				.ml-4
					strong
						span.text-info(style="font-size: 30px;") Holartec 
						span.text-info(style="font-size: 30px;") (欧科) 
						span 是一家集信息技术、咨询服务和业务解决方案于一体的跨国科技公司。2020年创立，总部位于意大利米兰。 
						br
						span.ml-3 公司的文化建立在诚信和尊重的基础上，其目标是共同努力，以使自己和我们的业务始终保持创新，创新和竞争力。
				.ml-4.mt-4.mb-2
					div 我们遵循以下原则：
				ul
					li
						div 具有企业家精神
						.css-text-sm 我们拥护好的创意，并迅速将它们付诸实践。我们在寻找为客户创新的新方法方面具有前瞻性和不懈努力。
					li
						div 做正确的事并诚信行事
						.css-text-sm 这就像做正确的事和以正确的方式对待人一样简单。
					li
						div 互相尊重
						.css-text-sm 我们致力于建立一种公平，尊重和包容的文化：体现在我们的领导层和员工队伍中，与客户和供应商之间，在我们的编程中以及在我们服务的社区中。
					li
						div 回馈
						.css-text-sm 在我们开展业务的任何地方，我们都有长期的支持本地社区和组织的历史。我们使用自己的技术，资源和影响力来为我们社区的人们的生活带来积极而实质性的变化。 我们公司的文化建立在诚信和尊重的基础上，其目标是共同努力，以使自己和我们的业务始终保持创新，创新和竞争力。
		div(style="height: 100px")
		.css-roundedTopLeft-5.ml-5(style="background-color: #FFEBCD; height: 550px")
			.container
				.row.py-5
					.col-6
						h3.m-4 建立更具资源效率的公司
						.ml-4
							.css-text-sm 在努力为客户提供最佳技术，帮助企业实现业务转型的同时，我们也考虑了对可持续发展的长远影响。在制定业务决策时，无论大小，我们都有责任考虑可持续性。我们致力于创造一种激发环境责任的可持续创新文化。
							.css-text-sm 作为一家信息技术，咨询服务和科技赋能的公司，我们致力于将多元化的社区聚集在一起，并激发我们的客户，受众和员工的积极影响。
						.ml-4.mt-4.mb-2
							.css-text-sm 我们将精力集中在三个领域：
						ul
							li
								.css-text-sm 通过志愿服务和领导力发展在我们的社区中有所作为
							li
								.css-text-sm 在我们社区内增加技术访问并扩展数字技能
							li
								.css-text-sm 利用我们影响深远的讲故事平台来教育我们的受众并引发有关塑造世界的关键问题的对话

					.col-6
						img.js-click-imgEnlarge.css-img-neat(src="/media/img/firm2.jpg", width="99%", height="450px")
		div(style="height: 100px")
		.css-roundedTopRight-5.mr-5(style="background-color: #DCDCDC; height: 550px")
			.container
				.row.py-5
					.col-6
						img.js-click-imgEnlarge.css-img-neat(src="/media/img/firm3.jpg", width="99%", height="450px")
					.col-6.px-5
						div(style="height: 80px")
						h3.mb-4 欧科先进的技术解决方案帮助转型
						.css-text-sm.mb-3 HTL可以帮助您创建更多关联的运营，使关键资产保持活动状态，提高运营效率并降低成本。无论您在数字旅程中的何处，我们都将与您一起提供基于AI的见解和咨询服务，以提供更具弹性的业务运营
						.css-text-sm.mb-3 利用最先进的平台，我们的专家将通过端到端服务帮助您加速业务转型过程-从多渠道策略到基于经验的设计再到托管服务，以及一系列加速器和认知解决方案。


		div(style="height: 100px")
	.js-browserWidth-mb